@use "utils/variables" as v;

body {
  background-image: url("https://567diwd38z.ufs.sh/f/jv5IZEGkRvtiWdtC9LVFXPpdiHB4x3hSVlmJOz6ctvaNs2UY");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: luminosity;
  font-family: v.$fontParagraph;
  //color: v.$white;
  color: #999999;
  //background-color: v.$backgroundDark;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  @include v.primary-color;
}

pre code {
  font-family: v.$fontCode;
  font-size: 75%;
  display: block;
  background: v.$backgroundDarker;
  padding: 10px;
  overflow: auto;
}

h1 {
  border-style: dashed;
  border-width: 2px;
  padding: 1em;
  text-align: center;
  background-color: #000;
  color: #02a002;
}

.listHeader {
  background-color: #000;
  color: #02a002;
}

.content .main {
  border-width: 2px;
  border-color: #00c767;
  border-style: dashed;
  padding: 1em;
  width: 1000px;
  background-color: #000000eb;
}

code {
  font-family: v.$fontCode;
  font-size: 75%;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: v.$fontHeader;
  }
}

@-ms-viewport{
  width: device-width;
}

.content.vertical {
  border: 4px solid #006200;
  border-radius: 10px;
  padding: 1em;
}

.home {
  background-image: url("https://utfs.io/f/jv5IZEGkRvtiD3BExzyJS9dRNB2hcHxw7QkeMYp5fzuyX8LF");
  background-size: cover;
  background-attachment: fixed;
}

.home #indexHeader, .home #description {
  background-color: #000;
  padding: 20px;
}

#indexHeader {
  border-width: 2px;
  border-color: #00c767;
  border-style: dashed;
}

.headerLinks li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10pt
}

.home .socialNavbar {
  background-color: #000;
}

#homelogo {
  max-width: 50%;
}

form {
  border: 1px solid;
  padding: 20px;
  border-radius: 10px;
}

td {
  width: 25%;
  border-bottom: 1px solid #232323;
  background: #dfdfdf;
  color: #999999;
}

